<div class="container">
  <h1>Home page</h1>
  <p>Find me in app/views/home.html.erb</p>
  <p>This is a regular paragraph.</p>
  <p class="special">This is a special note to test styles.</p>
  <p>This is a regular paragraph.</p>

  <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
</div>
